
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1e9df;
}

.kurale{
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
}
.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

header{
    display: flex;
    background-color: rgb(49, 46, 46);
   
    align-items: center;
    img{
        height: 2vi;
        width: auto;
        margin-left: 40%; 
        padding: 1%;}
        
}
nav{

    height: 5vh;
    padding-top: 1%;
    background-color: #ded4c7;
    ul{
        display: flex;
        justify-content: center;
        padding: 0.5%;
        gap: 15vw;
        list-style: none;
       }
       a{
        color:#5a3b0f ;
        text-decoration: none;
    } 
    
    
}
.links:after{
    bottom: 0;
    content: "";
    display: block;
    height: 0.3vh;
    right: 10vw;
    position: relative;
    background: #f3eded;
    transition: width 0.3s ease-in-out 0s, right 0.3s ease 0s;
    width: 0;
    
}
.links:hover:after { 
    width: 100%; 
    right: 0; 

}
.links:hover{
    
    font-size: cal(1em+3%);
    color: #f3eded;
    transition: font-size 0.6s ease, color 0.6s ease;
    
}


 
main{
    width: 100%;
    height: 50vi;
    display: flex;
    flex-direction: column;
    
    

    
} 

main  section:first-child article:nth-child(1){
    
    height: 100%;
    width: 100%;   
    background-color:  #ded4c7;
    background-image: url("images/banner3.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25% 80%;
    display: flex;
    flex-direction: column;
    h1{
        letter-spacing: 0.4vw;
         margin-top: 5vi;
    }

   
   
    
}
main  section:first-child  h1, main  section:first-child  p{
    font-size: 4.2vw; 
    color: transparent; 
    -webkit-text-stroke: 1px #5a3b0f; 
    margin-left:45% ;
    width: 40%;
    text-wrap: wrap;
    
    
}  
main  section:first-child article p{
    font-size: 1.72vw;
    font-weight: 100;
    color: #5a3b0f;
    margin-left: 50%;
   

}
.btn {
    display: flex;
    position: relative;
    height: 4vw;
    margin-top: 2vi;
    padding: 1.5vi;
    left: 58vw;
    width: max-content;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    font-weight: 700;
    font-size: 90%;
    color: #5a3b0f;
    text-decoration: none;   
    
    border: 1px solid #5a3b0f;
    border-radius: 0.8vw;
    transition: all 0.8s ease;

  }


.btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  
}
.btn4 {
    overflow: hidden;
    

  }
  
  .btn4:after {
    left: -100%;
    clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
    background-color: rgba(185, 167, 141, 0.257);
    transition: all 0.4s ease;
    
  }
  
  .btn4:hover::after {
    left: 100%;
  }
.main__2{
    display: flex;
    width: 60%;
    height: 45%;
    gap: 15vb;
    margin-left: 22.5vw;
    margin-top: 4vi;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;

    article{
        background-size: cover;
        width: 25%;
        height: 100%;
        border-radius: 5%;
       
        transition: all 0.5s ease-in-out;
        
    }
    article:hover{
        transform: scale(115%); /* Equal to scaleX(0.7) scaleY(0.7) */
        box-shadow:0.79vw 0.79vw 0.79vw #5a3b0f;
        p{
            color: #5a3b0f;
        }

    }
    p{
        font-size: 2.3vw;
        width: 15vi;
        color: transparent; /* Make the text fill transparent */
        -webkit-text-stroke: 1px #5a3b0f;
        transition: color 0.3s ease-in-out, -webkit-text-stroke-color 0.3s ease-in-out;
        
       
       
    }
    article:nth-child(1){
        background-image: url("images/necklaces.jpg");
        p{
            margin-left: 6vi;
        }
        
    }
    article:nth-child(2){
        background-image: url("images/earring.jpg");
        p{
            margin-left: 1vi;
            margin-top:15vi ;
        }
    }
    article:nth-child(3){
        background-image: url("images/rings.jpg");
        p{
            margin-left: 8vi;
        }
        
    }
}
footer{
    background-color: rgb(49, 46, 46);
    height: 25vi;
    display: flex;
    margin-top: 0px;
}
footer img{
    margin-left: 25vi;
    margin-top: 5vi;
    margin-right: 5vw;
    height: 10vi;
    width: 25vi;
    padding: 2vi;
    border-right: 1px solid #f3eded;
}
footer p{
    margin-top: 10vi;
    color: #f3eded;
    letter-spacing: 0.7vw;
    text-decoration: underline;
}
